src/main/resources/xsd/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Addresses">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="id"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:string" name="state"/>
                            <xs:element type="xs:string" name="city"/>
                            <xs:element type="xs:short" name="zipcode"/>
                            <xs:element type="xs:string" name="street"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>