src/main/resources/xsd/order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="OrderList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Order" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:float" name="total_price"/>
                            <xs:element type="xs:byte" name="products_quantity"/>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:byte" name="shipping_address_id"/>
                            <xs:element type="xs:byte" name="status_id"/>
                            <xs:element type="xs:byte" name="payment_id"/>
                            <xs:element type="xs:byte" name="shipment_id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>