src/main/resources/xsd/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:double" name="price"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:integer" name="category_id"/>
              <xs:element type="xs:double" name="weight"/>
              <xs:element type="xs:integer" name="in_stock"/>
              <xs:element type="xs:integer" name="discount_id"/>
              <xs:element type="xs:integer" name="manufacturer_id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>