src/main/resources/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="first_name"/>
              <xs:element type="xs:string" name="last_name"/>
              <xs:element type="xs:string" name="middle_name" minOccurs="0"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="password"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>